body, #wrapper {
	display: flex;
	flex-direction: column;
	min-height: 95vh;
}

footer {
	margin-top: auto;
}

.mv-div-style {
	margin-top: 6rem;
}

/* スマホ用CSSを記述 */
/* @media screen and (max-width: 768px) {
	.collapse {
		display: initial;
	}
} */