{% extends "learning_logs/base.html" %}

{% block page_header %}
	<h3></h3>
{% endblock page_header %}

{% block content %}
	{% for entry in entries %}
	<p><a href="{% url 'learning_logs:topic_child' entry.topic.id %}">{{entry.topic}}</a></p>
	<div class="card mb-3">
		<h5 class="card-header">
			<p>{{ entry.date_added|date:'Y年m月d日 H:i' }} （{{entry.owner}}</a>）</p>
		</h5>
		<div class="card-body">{{ entry.text|linebreaks }}</div>
	</div>
	{% empty %}
		<p>まだ記事がありません。</p>
	{% endfor %}
	
{% endblock content%}